<p class="collapse" id="feedback" style="color: green"></p>
<br />
<form>
  <div class="Login-button text-center collapse">
    <button
      type="button"
      id="validate"
      class="btn btn-primary"
      onclick="check()"
    >
      Play
    </button>
  </div>
</form>
<br />
  <div class="row row-cols-1 row-cols-md-2 g-2" style="min-width: 200px;">
    <div class="col collapse" id="player1">
      <div class="card">
        <h5 class="card-title">Player 1</h5>
        <div class="card-body">
          <p class="card-text" id="player1text">
          </p>
        </div>
      </div>
    </div>
    <div class="col collapse" id="player2">
      <div class="card">
        <h5 class="card-title">Player 2</h5>
        <div class="card-body">
          <p class="card-text" id="player2text">
          </p>
        </div>
      </div>
    </div>
    <div class="col collapse" id="player3">
      <div class="card">
        <h5 class="card-title">Player 3</h5>
        <div class="card-body">
          <p class="card-text" id="player3text">
          </p>
        </div>
      </div>
    </div>
    <div class="col collapse" id="player4">
      <div class="card">
        <h5 class="card-title">Player 4</h5>
        <div class="card-body">
          <p class="card-text" id="player4text">
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
