<%- include('partials/header'); -%>
<%- include('partials/logoutSection'); -%>
<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="card d-flex align-items-center">
    <div class="logo-container" style="width: 100px; height: 100px">
      <img src="images/dice.png" alt="" />
    </div>
    <div class="card-body text-center">
      <select
        class="form-select"
        name=""
        id="playerOptions"
        onchange="startGame()"
      >
        Choose no: of players
        <option selected value="0">Choose no : of players</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
      </select>
      <%- include('partials/playarea'); -%>
    </div>
  </div>

  <script src="js/dice.js"></script>
  <%- include('partials/footer'); -%>
</div>
