<%- include('partials/header'); -%>
<main class="text-center">
    <div class="jumbotron">
        <h1 style="color:green" class="display-4">Woah ,registered successfully🤩</h1>
        <p class="lead">Thank You for registerting</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-outline-info btn-lg" href="/" role="button">Go To Home</a>
        </p>
      </div>
</main>
<%- include('partials/footer'); -%>